body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

nav ul {
    list-style: none;
    background-color: #333;
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Add this line to vertically center everything in the nav */
}

.nav-home {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

nav ul li {
    display: flex;
    padding: 15px 20px;
    align-items: center; /* Add this line to vertically center the items within each li */
}


#posts {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

#newPostForm {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

#newPostForm input, #newPostForm textarea {
    width: 100%;
    margin-bottom: 10px;
}


/* Form and selector container styles */
.filter-form {
    margin-bottom: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.selector-container {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    background-color: #0079d3;
    color: white;
    border: none;
    padding: 9px 15px; /* Match the input height or adjust as needed */
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #005fa3;
}

/* Post styles */

#posts article {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#posts h2 {
    margin-bottom: 10px;
    color: #0079d3;
}

#posts p {
    color: #555;
}

/* Styles for the search form */

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 5px;
}

.search-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

