{% extends 'base.html' %}

{% block main %}
<nav>
    <ul>
        <li><a class="nav-home" href="/">Home</a></li>
        <li>
            <form class="search-form" onsubmit="handleSubmitSearch(event)">
                <label for="search"></label>
                <input id="search" class="search-input" type="text" placeholder="Search..." autofocus required>
                <button type="submit">Go</button>
            </form>
        </li>
        <!-- Add more navigation items here -->
    </ul>
</nav>

<form id="filterForm" class="filter-form">
    <div class="selector-container">
        <label for="subredditInput">Enter a subreddit:</label>
        <input class="search-input" type="text" id="subredditInput" name="subreddit" placeholder="e.g., unpopularopinion">
    </div>

    <div class="selector-container">
        <label for="categoryDropdown">Choose a category:</label>
        <select id="categoryDropdown" name="category">
            <option value="all">All</option>
            <option value="anger">Anger</option>
            <option value="disgust">Disgust</option>
            <option value="fear">Fear</option>
            <option value="joy">Joy</option>
            <option value="neutral">Neutral</option>
            <option value="sadness">Sadness</option>
            <option value="surprise">Surprise</option>
        </select>
    </div>

    <button type="button" onclick="fetchFilteredPosts()">Submit</button>
</form>

<section id="posts">
    <!-- The post list will be injected here by JavaScript -->
</section>
{% endblock %}